 ------
 Maven Wagon Data
 ------
 Jean-Yves CRONIER
 ------
 2014-04-06
 ------

 ~~ Licensed to the Apache Software Foundation (ASF) under one
 ~~ or more contributor license agreements.  See the NOTICE file
 ~~ distributed with this work for additional information
 ~~ regarding copyright ownership.  The ASF licenses this file
 ~~ to you under the Apache License, Version 2.0 (the
 ~~ "License"); you may not use this file except in compliance
 ~~ with the License.  You may obtain a copy of the License at
 ~~
 ~~   http://www.apache.org/licenses/LICENSE-2.0
 ~~
 ~~ Unless required by applicable law or agreed to in writing,
 ~~ software distributed under the License is distributed on an
 ~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~~ KIND, either express or implied.  See the License for the
 ~~ specific language governing permissions and limitations
 ~~ under the License.

 ~~ NOTE: For help with the syntax of this file, see:
 ~~ http://maven.apache.org/doxia/references/apt-format.html

Maven Wagon Data

 This component is an implementation of Wagon provider for Data URI scheme.
 
 It enables Maven to read content from Data URI.

 For more informations on Data URI scheme, see {{{https://tools.ietf.org/html/rfc2397}RFC 2397}}.  

Features

 * Get content from a Data URI

Examples of use

 Useful to include ruleset definition of <<<versions-maven-plugin>>>

 For example, this sample ruleset:

+-------------------------------+
<ruleset xmlns="http://mojo.codehaus.org/versions-maven-plugin/rule/2.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" comparisonMethod="maven" xsi:schemaLocation="http://mojo.codehaus.org/versions-maven-plugin/rule/2.0.0 http://mojo.codehaus.org/versions-maven-plugin/xsd/rule-2.0.0.xsd">
  <ignoreVersions>
    <ignoreVersion type="regex">.*-(Alpha|aplha|Beta|beta|RC|rc)[0-9.-_]*</ignoreVersion>
  </ignoreVersions>
</ruleset>
+-------------------------------+

 Let's include it into the <<<pom.xml>>>:

+-------------------------------+
<project>
	...
	<build>
		<extensions>
			...
			<extension>
				<groupId>${project.groupId}</groupId>
				<artifactId>${project.artifactId}</artifactId>
				<version>${project.version}</version>
			</extension>
			...
		</extensions>
		...
		<plugins>
		  ...
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>versions-maven-plugin</artifactId>
				<version>2.1</version>
				<configuration>
					<rulesUri>data:application/xml;charset=utf-8;base64,PHJ1bGVzZXQgY29tcGFyaXNvbk1ldGhvZD0ibWF2ZW4iIHhtbG5zPSJodHRwOi8vbW9qby5jb2RlaGF1cy5vcmcvdmVyc2lvbnMtbWF2ZW4tcGx1Z2luL3J1bGUvMi4wLjAiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL21vam8uY29kZWhhdXMub3JnL3ZlcnNpb25zLW1hdmVuLXBsdWdpbi9ydWxlLzIuMC4wIGh0dHA6Ly9tb2pvLmNvZGVoYXVzLm9yZy92ZXJzaW9ucy1tYXZlbi1wbHVnaW4veHNkL3J1bGUtMi4wLjAueHNkIj48aWdub3JlVmVyc2lvbnM+PGlnbm9yZVZlcnNpb24gdHlwZT0icmVnZXgiPi4qLShBbHBoYXxhcGxoYXxCZXRhfGJldGF8UkN8cmMpWzAtOS4tX10qPC9pZ25vcmVWZXJzaW9uPjwvaWdub3JlVmVyc2lvbnM+PC9ydWxlc2V0Pg==</rulesUri>
				</configuration>
			</plugin>
			...
		</plugins>
	</build>
	...
</project>
+-------------------------------+
 